.sidebar {
  height: 100vh;
  width: 300px;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  overflow: hidden;
}

.collapsed {
  width: 100px;
}

.nav li {
  cursor: pointer;
  padding: 12px 18px;
  transition: background 0.2s ease;
}

.nav li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.active {
  background-color: #222c40;
  color: #00ffd0;
  font-weight: bold;
}


.topSection {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.hamburger {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 2rem 0 0 0;
}

.nav li {
  padding: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.nav li:hover {
  background-color: #333;
}

.logoImage {
  position: inherit;
  margin-right: 10px;
}